<div class="container m-5">
    <h1>{{ item.product_name }}</h1>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <img [src]="item.image_url" class="img-fluid" onError="this.onerror=null;this.src='assets/img/noimage.png';">
            <br><br>
            <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Home</a>
        </div>

        <div class="col-md-8">
            <span class="badge badge-pill badge-primary">£{{ item.price }}</span>
            <span class="badge badge-pill badge-light">{{ item.brand }}</span>
            <hr>
            <p>{{item.description}}</p>
            <div class="alert alert-success" *ngIf="priceDrop" role="alert">
                <i class="fa fa-arrow-down"></i> Price dropped on {{ dateDrop | date }}
            </div>
        </div>

    </div>
</div>